{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Log in" context "Login page title" %} — {{ block.super }}{% endblock %}

{% block content %}

  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <div class="row login">
      <div class="col-md-6 login__register">
        <div class="login__register-link">
        <div class="registerBox govtUserReg">
                    <h2>Are you a <span><br>Buyer?</span></h2>
                    <div class="clearfix"></div>
                </div>
		<div class="registerBox sellerReg">  
                    <div class="row">
						<div class="col-md-12 col-xs-12 text-center">
							<h2>Are you a <span>Product Seller?</span></h2>
						</div>
						<!--<div class="col-md-4 col-xs-4 noPadding">
							<img src="/resources/landing/images/seller.png" />
						</div>-->
						
					</div>
                </div>
<!--		<div class="registerBox guestUserReg">
                    <h2>Are you a <span>Guest User?</span></h2>
                    <div class="clearfix"></div>
                </div> -->
          <h3>{% trans "Don't have an account yet?" context "Login form secondary title" %}</h3>
          
               
       
        </div>
      </div>
      <div class="col-md-6 login__form">
        <h3>{% trans "Log in" context "Login form title" %}</h3>
        {% include "account/partials/login_form.html" %}
   
      </div>
    </div>
  </div>
<style>
.govtUserReg {
    background: url(https://gem.gov.in/resources/landing/images/govtUserBg.jpg) center center no-repeat;
    background-size: 100%;
    height: 454px;
}
.guestUserReg {
    background: url(https://gem.gov.in/resources/landing/images/guestUserBg.jpg) center center no-repeat;
    background-size: 100%;
    height: 454px;
}
.sellerReg {
    background: url(https://gem.gov.in/resources/landing/images/seller.png) center center no-repeat;
    background-size: 100%;
    height: 454px;
}
.registerBox {
    float: left;
    padding: 0;
    width: 31%;
    margin: 0px 6px 0;
    padding: 0;
}
.registerBox .button {
    width: 70%;
    margin: auto;
    display: block;
}
</style>
{% endblock %}
