{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block content %}
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <div class="row login">
      <div class="col-md-6 login__register">
        <div class="login__register-link">
<!--          <img class="signup-img" src="{% static 'images/pirate_login.png' %}"
               srcset="{% static 'images/pirate_login.png' %} 1x, {% static 'images/pirate_login2x.png' %} 2x"> -->
		<div class="registerBox govtUserReg">
                    <h2>Are you a <span><br>Buyer?</span></h2>
                    <div class="clearfix"></div>
                </div>
		<div class="registerBox sellerReg">  
                    <div class="row">
						<div class="col-md-12 col-xs-12 text-center">
							<h2>Are you a <span>Product Seller?</span></h2>
						</div>
						<!--<div class="col-md-4 col-xs-4 noPadding">
							<img src="/resources/landing/images/seller.png" />
						</div>-->
						
					</div>
                </div>
<!--		<div class="registerBox guestUserReg">
                    <h2>Are you a <span>Guest User?</span></h2>
                    <div class="clearfix"></div>
                </div> -->

<br><br><br>		          <h3>{% trans "Already have an account?" context "Signup form secondary title" %}</h3>
<p>
         <a href="{% url 'account_login' %}" class="btn secondary narrow">
            {% trans "Log in" context "Signup form secondary action" %}
          </a></p>
        </div>
      </div>
      <div class="col-md-6 login__form">
        <form method="post" action="{% url 'account_signup' %}">
          <fieldset>
            <h3>{% trans "Create an account" context "Signup form title" %}</h3>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}"
                     value="{{ redirect_field_value }}"/>
            {% endif %}
          </fieldset>
          <button type="submit" class="btn primary narrow">
            {% trans "Create an account" context "Signup form primary action" %}
          </button>
        </form>
      </div>
    </div>
  </div>
<style>
.govtUserReg {
    background: url(https://gem.gov.in/resources/landing/images/govtUserBg.jpg) center center no-repeat;
    background-size: 100%;
    height: 454px;
}
.guestUserReg {
    background: url(https://gem.gov.in/resources/landing/images/guestUserBg.jpg) center center no-repeat;
    background-size: 100%;
    height: 454px;
}
.sellerReg {
    background: url(https://gem.gov.in/resources/landing/images/seller.png) center center no-repeat;
    background-size: 100%;
    height: 454px;
}
.registerBox {
    float: left;
    padding: 0;
    width: 31%;
    margin: 0px 6px 0;
    padding: 0;
}
.registerBox .button {
    width: 70%;
    margin: auto;
    display: block;
}
</style>
{% endblock %}
