{% extends "base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load attributes %}
{% block content %}
<center>
<div class=jumbotron>
<h3>*Verified by Google API & BHAMASHAH API</h3>
Buyer Bhamashah id : {{ bhamid1 }}<br/>
Buyer location : {{ place1 }}<br/><br/>
Seller Bhamashah id : {{ bhamid2 }}<br/>
Seller location : {{ place2 }}<br/><br/>
Shortest Distance : {{ dist }} <br/>
Estimated Time:{{ dis }} <br/>

</div>
</center>
</body>

{% endblock %}
